node_modules/
package-lock.json
dist/
build/
*.min.js
*.min.css
*.log

*.config.js
*.config.json
.prettierrc*
.stylelintrc*
.htmlhintrc*
.htmlvalidate*
.lintstagedrc*

scripts/

*.jpg
*.jpeg
*.png
*.gif
*.svg
*.webp
*.mp4

*.html

lighthouse*.html
.lighthouseci/
